import("ggplot2")
import("ggridges")
importFrom("graphics", "abline", "legend", "lines", "plot", "points")
importFrom("stats", "IQR", "cor", "density", "qqplot", "sd")
importFrom("utils", "tail")
importFrom("matrixStats", "rowMedians")
importFrom("WGCNA", "removePrincipalComponents")

export("plot_diagonal_ridge4",
       "plot_signal_condition_exp",
       "cal_m_sd_IQR",
       "qqplot_density2",
       "quantile_norm")
